
.all{
    margin: 0px 16px;
}

.card_2{
    display: flex;
    margin-top: 12px;
    padding: 8px 12px;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    background-color: #1C2024;
    transition: .15s;
    cursor: pointer;
}
.card_2.active {
    background-color: #272A2F;
}

.card_2 i {
    margin-right: 10px;
}

.cards_2{
    margin-bottom: 16px;
}
.card_2 p{
    font-size: 16px;
    margin: 8px 88px 8px 0px;
}
header{
    padding: 8px 0px;
    display: flex;
    align-items: center;
}
.card_2 p:last-child{
    font-size: 12px;
}