* {
    margin: 0;
    padding: 0;
    color: #E0E2E8;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.all {
    margin: 0 16px;
    width: 375px;
}
#card {
    display: flex;
    margin-top: 12px;
    padding: 8px 12px;
    align-items: center;
    border-radius: 12px;
    background-color: #1C2024;
}
#card * {
    background: transparent;
}
.cards {
    width: 343px;
    margin-bottom: 16px;
}
#card p {
    margin: 8px 16px;
    width: 187px;
}
header {
    width: 375px;
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.reserve {
    width: 345px;
    height: 48px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #003354;
    border-radius: 100px;
    background: #9CCBFB;
}
.reserve:active {
    background: #96bbe0;
    transform: scale(0.95);
}