.barbershop__image__address {
    background-image: url("../../assets/images/barbershop2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}

.barbershop__image {
    position: absolute;
    top: 230px;
    padding: 20px;
}

.all__staff {
    color: #9CCBFB;
    text-align: center;
    margin: 20px 0px;
}

.p-sidebar-header {
    justify-content: center;
}




.sidebar {
    height: 90%;
    background: #181C20;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 0px 20px 20px 20px;
}
