
.barbershop__image__address {

    width: 100% !important;
    margin-top: 55  px;
}

.barbershop__image {
    background-image: url("../../assets/images/barbershop2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}


.container {
    margin-top: 20px;

}