
.home__card{
    background: rgba(28, 32, 36, 1);
    border-radius: 10px;
    border: 1px solid rgba(66, 71, 78, 1);
    margin: 20px 0;
    padding-bottom: 15px;
}

.home__card:first-child {
    margin-top: 0px !important;

}

.home__card__logo__rate__address {
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.home__card__name__rate__address h3 {
    font-weight: 500;
}

.home__card__name__rate__address div {
    margin-right: 5px;
}

.home__card__name__rate__address p {
    font-size: 14px;
}

.home__card__rate__address img {
    margin-right: 5px;
}

.home__card__time__button {
    padding-top: 15px;

}


.home__card__time div p{
    background: rgba(58, 72, 87, 1);
    padding: 7px 10px;
    border-radius: 13px;
    text-align: center;
    width: 50px;
    margin: 10px 10px 0 0
}

.home__card__time div{
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.home__card__image img{
    width: 100%;
}

.home__card__time__button {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 20px 0px 20px;
}

.home__card__button button {
    width: 115px;
    height: 40px;
    padding: 10px 24px 10px 24px;
    gap: 8px;
    background: rgba(156, 203, 251, 1);
    border: none;
    border-radius: 100px;
}

.home__card__button button a {
    color: #003354;
    font-weight: 600;
}
