.header{
    margin: 0px 0 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #101418;
    margin-bottom: 20px;
}

.header__menu__burger img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.header__notifications img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.header__title p {
    font-size: 22px;
}

.header__sidebar ul:first-child {
    border-bottom: 1px solid #42474E;
}

.header__sidebar li{
    list-style: none;
    width: 327px;
    height: 56px;
    padding: 16px 24px 16px 16px;
    border-radius: 100px;
}

.header__panel__menu li:first-child {
    margin-top: 20px;
}

.header__panel__menu li {
    padding: 0px 0px 0px 25px !important;
    /*background-color: red;*/
}

.header__unique__class{
    padding: 0px 24px 0px 16px !important;
    /*background-color: red;*/
}

.header__sidebar li i {
    margin-right: 10px;
}

.header__sidebar h5 {
    font-weight: 400;
}

.header__sidebar__li__active {
    background: #3A4857;
}

.header__sidebar__notification {
    width: 100%;
}

.p-panelmenu-content {
    background-color: transparent;
}

.p-panelmenu-header-content {
    background-color: transparent;
}