.active__archive {
    padding-top: 70px;
}

.p-tabview-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.p-tabview-nav li{
    width: 50%;
}

.p-tabview-nav li a {
    display: flex;
    justify-content: center;
}


.p-tabview-nav a{
    padding: 20px;

}

.p-tabview .p-tabview-nav {
    background: transparent ;
}

.p-tabview .p-tabview-panels {
    background: transparent;

}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: transparent !important

}

.p-tabview-ink-bar {
    width: 50% !important;

}