
.all {
    margin: 0 16px;
}
#card {
    display: flex;
    margin-top: 12px;
    padding: 8px 12px;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    background-color: #1C2024;
}
#card * {
    background: transparent;
}
.cards {
    margin-bottom: 16px;
}
#card p {
    font-size:16px;
    margin: 8px 16px;
}
header {
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.reserve {
    height: 48px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #003354;
    border-radius: 100px;
    background: #9CCBFB;
}
.reserve:active {
    background: #96bbe0;
    transform: scale(0.95);
}
#card p:last-child{
    font-size: 12px;
}